@charset "UTF-8";

body, html {
	font-family: "Pretendard Variable", Pretendard, -apple-system,
		BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
		"Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	color: #000;
	background-color: #f9fbfc;
}

.content>div:not(.header) {
	background-color: #fff;
	border: 1px solid #e1e6ec;
	box-shadow: 4px rgba(0, 0, 0, 0.1);
	padding: 30px;
	border-radius: 10px;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	display: flex;
	height: 100vh;
	padding: 0 270px;
}

.sidebar {
	width: 400px;
	background-color: #fff;
	border-right: 1px solid #e1e6ec;
	margin-right: 10px;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar a:hover {
	color: #007FFF;
}

ul {
	list-style: none;
	margin-top: 25px;
}

li {
	font-size: 24px;
	margin-bottom: 20px;
}

.selected {
	color: #007FFF;
	text-decoration: underline;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.main-header {
	padding: 20px;
	box-sizing: border-box;
	text-align: right;
}

.content {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	overflow-y: auto;
}

.logo {
	margin-up: 10px;
	margin-bottom: 20px;
}

.logo>h1 {
	display: inline-block;
	margin: 0;
}

.grayfont {
	color: #ccc7c0;
	font-weight: normal;
}

.textinfo {
	text-align: center;
}

.main-header a {
	text-decoration: none;
	padding: 10px 20px;
	display: inline-block;
}

.bottom-div {
	display: flex;
	justify-content: center;
}

.image-container {
	width: 120px;
	height: 140px;
	border: 2px solid #ccc;
	overflow: hidden;
	border-radius: 4px;
}

.image-container img {
	width: 73%;
	display: flex;
	height: 100%;
	object-fit: cover;
	margin: 0 auto;
}

.input-field {
	width: 300px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 5px;
	background-color: #F8F9FC;
}

.form-group {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.slider-button {
	display: flex;
	align-items: center;
}

label {
	height: 30px;
	width: 60px;
	border-radius: 30px;
}

.info {
	display: inline-block;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #007FFF;
}

input:focus+.slider {
	box-shadow: 0 0 1px #007FFF;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.revision {
	padding: 5px 10px;
	border: 1px solid #007FFF;
	border-radius: 4px;
	cursor: pointer;
	font-size: 15px;
	background-color: #FFF;
	color: #007FFF;
}

.revision:hover {
	color: #FFF;
	background-color: #007FFF;
}

.button-section {
	display: flex;
	justify-content: flex-end;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 0px;
}

.header h2 {
	margin: 0px;
}

.header a {
	padding: 0px;
}

.header a:hover {
	color: #FE3838;
}

/* 리스트 아이템 */
.item-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 20px !important;
	margin: 10px 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

/* 이미지 섹션 */
.image-section img {
	height: 100px;
	border-radius: 8px;
	object-fit: cover;
	margin-right: 15px;
}

/* 정보 섹션 */
.info-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.info-section h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 0;
}

.info-section p {
	font-size: 12px;
	color: #888;
	margin: 2px 0;
}

.info-section .grayfont {
	font-size: 12px;
	color: #888;
	text-decoration: none;
	margin-top: 5px;
}

.info-section a:hover {
	color: #007FFF;
}

/* 상태 섹션 */
.status-section {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	min-width: 100px;
}

.status-section .status-button-sold {
	padding: 10px 20px;
	border: 1px solid #ff0000;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	background-color: #fff;
	color: #ff0000;
}

.status-section .status-button-proceeding {
	padding: 10px 20px;
	border: 1px solid #007FFF;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	background-color: #fff;
	color: #007FFF;
}

.status-section .status-button-winning {
	padding: 10px 20px;
	border: 1px solid #F8C501;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	background-color: #FFF;
	color: #F8C501;
}

.status-button-winning:hover {
	background-color: #F8C501;
	color: #FFF;
}

.status-section .status-button-done {
	padding: 10px 20px;
	border: 1px solid #007FFF;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	background-color: #fff;
	color: #007FFF;
}

.status-section .status-button-delivered {
	padding: 10px 20px;
	border: 1px solid #CCC7C0;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	background-color: #fff;
	color: #CCC7C0;
}

.enddate {
	color: #FE3838 !important;
}

.status-table {
	padding-top: 30px;
	padding-bottom: 10px;
}

table {
	width: 95%;
	border-collapse: collapse;
	margin: 0 auto;
	font-size: 18px;
	text-align: left;
}

thead tr {
	background-color: #f9fbfc;
	text-align: center;
}

th, td {
	padding: 12px 15px;
	border-bottom: 1px solid #CCC7C0;
}

tbody tr {
	border-bottom: 1px solid #CCC7C0;
	text-align: center;
}

.mainColor {
	color: #007FFF !important;
}

/* 회원정보 수정 */
.container {
	padding-left: 270px;
	padding-right: 270px;
}

.logo-container {
	text-align: left;
	position: relative;
	margin-bottom: 30px;
}

.logo-img {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
}

.logo-text {
	color: #F8C501;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	position: relative;
	top: 3px; /* 이미지와 조정된 세로 위치 맞춤 */
	margin-left: 5px; /* 이미지와 텍스트 사이의 간격 조정 */
}

.custom-form {
	max-width: 780px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
}

.input-label {
	color: gray;
	width: 120px;
	margin-right: 10px;
}

.form-group {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.input-field {
	width: 300px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.check-button {
	background-color: white;
	color: #007FFF;
	border: 1px solid #007FFF;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 5px;
}

.check-button:hover {
	background-color: #007FFF;
	color: white;
}

.form-divider {
	margin-top: 20px;
	margin-bottom: 20px;
}

.notification-options {
	display: flex;
	flex-direction: column;
}

.notification-option {
	margin-bottom: 10px;
}

.notification-option label {
	margin-right: 10px;
}

.noti-info-text {
	font-size: 12px;
	color: gray;
	margin-left: 130px;
}

.submit-button {
	background-color: #007FFF;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.submit-button:hover {
	background-color: #005C9A;
}

/* 알림창 */
.already-read {
	background-color: #E1E6EC !important;
}

.no-unread-noti {
	text-align: center !important;
	border-bottom: 1px solid #ddd;
}

.submit-button-withdrawl {
	background-color: #FE3838;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}