@charset "UTF-8";



body {
	font-family: 'Apple SD Gothic Neo', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.category-item {
	list-style: none;
	text-align: center;
}

.category-item a {
	text-decoration: none;
	color: #2c2c2c;
}

.containerM {
	
	margin-bottom: 200px;
	flex: 1;
}

/*검색창*/
.search-area {
	display: flex;
	justify-content: center;
	margin: auto 270px;
	position: relative;
}

.search-area .main-select, .search-box, input {
	background-color: #fff;
	margin-top: 50px;
	border: 1px solid #007FFF;
	height: 42px;
	border-radius: 30px;
	margin-left: 40px;
}

.main-select {
	width: 120px;
	padding: 0 20px;
}

input {
	width: 500px;
	padding: 0 20px;
	margin-left: 10px;
}

.search-icon-A {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	width:24px;
	height:24px;
}

.search-input-wrapper {
	position: relative;
	margin-left: 10px;
}

.search-btn {
	position: absolute;
	right: 5px;
	top: 70px;
	transform: translateY(-50%);
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.search-icon {
	width: 24px;
	height: 24px;
	padding-right: 5px;
}

select {
	-webkit-appearance: none;
	background: url('../icon/underArrow.png') no-repeat 85% 50%/16px auto;
	cursor: pointer;
}


/*페이지네이션*/
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 20px 0;
}

.pagination a {
    color: #007FFF;
    font-size: 14px;
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    margin: 0 4px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #007FFF;
    color: white;
    border: 1px solid #007FFF;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.deck-detail-image {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
/*상단검색옵션*/
.sort-container {
    /*padding: 10px 270px;*/
    margin: 10px 270px;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort-box,
.option-box,
.deck-box {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-weight: 500;
    
}
.sort-select {
    /*정렬기준*/
    border: none;
    width: 120px;
    font-size: 14px;
    -webkit-appearance: none;
    background: url('../icon/fullArrow.png') no-repeat 85% 50%/14px auto;
    cursor: pointer;
}

.sort-item {
    display: flex;
    align-items: center;
}
.sort-item select {
    margin-left: 10px;
}

/*footer*/
.info-page {
	background-color: #002E5B;
	color: #ffffff;
	padding: 30px 270px;
	font-size: 12px;
	font-family: 'Apple SD Gothic NeoL', sans-serif;
	bottom: 0;
}

.link-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-size: 14px;
	font-weight: 300;
}
.top-info-wrapper{
	padding-top:10px;
} 
/*layer 구분선*/
.hr1{
	width:1380px;
}
/* 상단 이미지 */
.imgbox {
	width: 1920px;
	height: 300px;
}

.topimage {
	
	width: 1920px;
	height: 283px;
	top: 0;
	left: 0;
	background-image: 
		url('../images/default/pokemon_banner.png');
		
}
/* 물품 판매 등록 버튼*/
.auction-insert-wrapper {
	position:relative;
	margin-left:40px;

}

.insert-btn {
	border-radius:30px;
	border : 1px solid #007FFF;
	background-color: #007FFF;
	color: #fff;
	margin-top:50px;
	width: 120px;
	height: 42px;
	cursor: pointer;
	
}

/*상단 정보*/
.top-info-wrapper{ 
	width:1380px;
	font-size: 16px;
	font-family: 'Apple SD Gothic Neo', sans-serif;
	color: #565A66;
	
}

/* 경매 물품 리스트 칸 width-1380 */
.auction-list-wrapper{
	width:1380px;
	display:flex;
	flex-wrap: wrap;
	margin: auto 270px;
	
}
/*경매 리스트 item*/
.auction-item {
	border:1px solid #E1E6EC;
	border-radius:10px;
	width:316px;
	margin:40px 60px;
	
	/*height:548px;*/
}

.card-image {
	width:268px;
	height:376px;
	margin:12px 24px;
	
}
.hr2{
	width:315px;
	border:1px solid #E1E6EC;
	
}
.title-wrapper{
	font-size:18px;
	width:268px;
	margin:0px 24px 12px 24px;
	overflow: hidden;
    word-wrap: break-word;
}
.date-wrapper{
	margin:6px 24px;
	font-size:14px;
	color: #FE3838;
	
}

.info-wrapper{
	display: flex;
	margin:6px 24px;
	font-size:14px;

}	
.people{
	color: #007FFF
}
.tmethod{
	margin:0 0 0 100px ;
	color: #CCC7C0;
}

/*item안에 버튼 (관심/상세)*/
.button-wrapper{
	display: flex;
	justify-content: center;
	position:relative;
	margin-top:10px;
	margin-bottom: 12px;
	font-size:14px;

}
.like-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius:5px;
	border : 1px solid #007FFF;
	color: #007FFF;
	background-color:#fff;
	width: 120px;
	height: 34px;
}
.like-btn.act {
	border: 1px solid #007FFF;
	border-radius: 5px;
	background-color: #007FFF;
	color: white;
	font-weight: bold;
	width: 120px;
	height: 34px;
}

.interest-icon{
	width:14px;
	height:14px;
}

.auction-detail-btn{
	border-radius:5px;
	border : 1px solid #007FFF;
	background-color: #007FFF;
	color: #fff;
	width: 120px;
	height: 34px;
	margin-left: 20px;
}
/*서브카테고리*/
.sub-category {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /*padding: 0 270px;*/
    margin-left: 270px;
    margin-right: 270px;
    gap: 80px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E1E6EC;
}
.main-category-box {
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
    font-weight: 1000;
    font-size: 18px;
}

.sub-category-box {
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
}
.alarmIcon{
	width:24px;
	height:24px;
}


.main-category-item,
.sub-category-item,
.sort-item {
    list-style: none;
    text-align: center;
}


.main-category-item a,
.sub-category-item a,
.sort-item a {
    text-decoration: none;
    color: #2c2c2c;
}
.button-wrapper{
	display: flex;
	justify-content: center;
	position:relative;
	margin-top:10px;
	margin-bottom: 12px;
	font-size:14px;

}
.like-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius:5px;
	border : 1px solid #007FFF;
	color: #007FFF;
	background-color:#fff;
	width: 120px;
	height: 34px;
}
.like-btn.act {
	border: 1px solid #007FFF;
	border-radius: 5px;
	background-color: #007FFF;
	color: white;
	font-weight: bold;
	width: 120px;
	height: 34px;
}
.sort-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 270px;
}
.sort-item {
        display: flex;
        align-items: center;
}
.sort-right {
        margin-left: auto;
        display: flex;
        align-items: center;
}
.sort-right span {
        margin-right: 10px;
}