.body{
	font-family: 'Apple SD Gothic Neo', sans-serif;
}

.right-aligned-button {
	display: flex;
	justify-content: flex-end;
}

.comment-textarea {
	height: calc(100vh - 300px);
	border: #C7C8C9 2px solid;
	width: 100%;
}

.custom-container2 {
	margin: 0 auto; /* 가운데 정렬 */
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 100px); /* 헤더 높이를 고려한 최소 높이 */
}

.form-inline {
	display: flex;
	flex-wrap: wrap;
	gap: 10px; /* 요소 사이의 간격 */
}

.form-inline .col {
	display: flex;
	align-items: center;
	gap: 20px;
}

.form-inline .col:nth-child(1) {
	margin-right: 20px;
}

#myForm {
	margin-top:78px;
	width: 60%;
	background-color: #fff; /* 배경색 추가 */
	padding: 20px; /* 내부 패딩 */
	border-radius: 10px; /* 모서리 둥글게 */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.form-inline .form-control {
	flex: 1;
	min-width: 150px;
	border: none;
	border-bottom: #C7C8C9 2px solid;
	border-radius: 0;
	color: #666666;
}

.form-inline .form-control[type="file"] {
	flex: 2;
}

.form-inline .form-control[type="date"] {
	flex: 1;
}

.boardType {
	border: none;
	border-bottom: #C7C8C9 2px solid;
	border-radius: 0;
	max-width: 200px;
	color: #666666;
}

.categoryType {
	border: none;
	border-bottom: #C7C8C9 2px solid;
	border-radius: 0;
	max-width: 200px;
	color: #666666;
}

.category-select {
	font-size: 16px; /* 글씨 크기 조정 */
}

#ImageLogoContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

#ImageLogoContainer img {
	max-width: 100%;
	max-height: 200px;
	margin-top: 10px;
	height: 40px;
	cursor: pointer;
}

#title {
	min-width: 300px;
	color: #666666;
}

.comment-div {
	height: auto;
	min-height: calc(100vh - 300px);
	border: 2px solid #C7C8C9;
	padding: .375rem .75rem;
	border-radius: .25rem;
	background-color: #fff;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	width: 100%;
	box-sizing: border-box;
}
