.body {
	font-family: "Pretendard Variable";
	margin: 0;
	padding: 0;
	
}

.searchBtn {
	position: absolute;
	margin-left: 300px;
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar select {
	padding: 5px;
	margin-right: 5px;
	border: 1px solid skyblue;
	border-radius: 10px;
	width: 100px; /* Decreased width */
}

.search-bar input[type="text"] {
	padding: 5px;
	margin-right: 5px;
	border: 1px solid skyblue;
	border-radius: 10px;
	width: 200px; /* Decreased width */
}

.search-bar button {
	padding: 5px;
	margin-right: 5px;
	border: 1px solid skyblue;
	border-radius: 10px;
	background-color: #007BFF;
	color: #fff;
	border: none;
}

.nav-links {
	width: 1380px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 80px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E1E6EC;
}

.nav-links a {
	text-decoration: none;
	margin: 0 15px;
	padding: 5px 10px;
	border-radius: 10px;
	color: #2c2c2c;
	font-weight: normal;
	font-size: 18px;
}

.breadcrumbs {
	margin-bottom: 20px;
}

.breadcrumbs a {
	text-decoration: none;
	color: #007BFF;
	margin-right: 5px;
}

.breadcrumbs span {
	color: #555;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
	border-left: none;
	border-right: none;
	border-top: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

.table>:not(caption)>*>* {
	background: none;
}

tbody tr {
	cursor: pointer;
	background-color: white;
}

tbody tr:hover {
	background-color: #f1f1f1;
}

.pagination a {
	text-decoration: none;
	padding: 5px 10px;
	margin: 0 2px;
	border-radius: 5px;
	border: none;
	display: inline-block;
	color: black; /* 기본 글씨색을 검은색으로 */
}

.pagination a.active {
	background-color: #007BFF;
	color: white; /* 활성화된 페이지는 흰색 글씨로 */
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-inline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.form-inline input[type="submit"] {
	margin-right: auto;
	padding: 5px 10px; /* Decreased padding */
	font-size: 14px; /* Decreased font size */
}

.form-inline .search-elements {
	display: flex;
	align-items: center;
}

.form-inline .search-elements select {
	margin-right: 5px;
	padding: 5px; /* Decreased padding */
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100px; /* Decreased width */
}

.form-inline .search-elements input[type="text"] {
	margin-right: 5px;
	padding: 5px; /* Decreased padding */
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 200px; /* Decreased width */
}

.form-inline .search-elements button {
	margin-right: 5px;
	padding: 5px 10px; /* Decreased padding */
	font-size: 14px; /* Decreased font size */
	background-color: #007BFF;
	color: #fff;
	border: none;
	border-radius: 5px;
}

.btn-primary {
	background-color: #007BFF;
	color: white;
	padding: 5px 10px; /* Decreased padding */
	font-size: 14px; /* Decreased font size */
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.container2 {
	margin: 0 auto;
	margin-bottom:200px;
	width: 75%;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 100px); /* 헤더 높이를 고려한 최소 높이 */
}

.container3 {
	margin: 0 auto;
	width: 75%;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 100px); /* 헤더 높이를 고려한 최소 높이 */
}

.pokemonBanner {
	width: 100%;
	height: 220px;
	top: 0;
	left: 0;
	background-image: url('../images/default/pokemon_banner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.yugiohBanner {
	width: 100%;
	height: 220px;
	top: 0;
	left: 0;
	background-image: url('../images/default/yugioh_banner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.digimonBanner {
	width: 100%;
	height: 220px;
	top: 0;
	left: 0;
	background-image: url('../images/default/digimon_banner.png');
}

.onepieceBanner {
	width: 100%;
	height: 220px;
	top: 0;
	left: 0;
	background-image: url('../images/default/onepiece_banner.png');
}

.sportBanner {
	width: 100%;
	height: 220px;
	top: 0;
	left: 0;
	background-image: url('../image/sport_banner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.inquiryBanner {
	width: 100%;
	height: 220px;
	top: 0;
	left: 0;
	background-image: url('../images/default/inquiry_banner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* footer */
.info-page {
	background-color: #002E5B;
	color: #ffffff;
	padding: 30px 270px;
	font-size: 12px;
	font-family: 'Apaple SD Gothic NeoL', sans-serif;
	bottom: 0;
}

.link-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-size: 14px;
	font-weight: 300;
}

.icon {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: middle;
}

.alarmIcon {
	width: 20px;
	height: 22px;
	margin-right: 5px;
	vertical-align: middle;
}

button:not(:disabled) {
	cursor: pointer;
	border: none;
	background: none;
}

.titleText {
	text-align: left;
}

.custom-notice-icon {
	padding: 3px 10px;
	border: 1px solid #007BFF; /* 파란색 테두리 */
	background-color: white; /* 흰색 배경 */
	color: #007BFF; /* 파란색 글씨 */
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

.dropdown-content .no-unread-noti h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.dropdown-toggle::after {
	content: none;
}
	