.right-aligned-button {
	display: flex;
	justify-content: flex-end;
}

.comment-textarea {
	height: calc(100vh - 300px);
	border: #C7C8C9 2px solid;
	width: 100%;
}

.custom-container {
	max-width: 60%; /* 가로 비율을 줄임 */
	margin: 0 auto; /* 가운데 정렬 */
}

.form-inline {
	display: flex;
	flex-wrap: wrap;
	gap: 10px; /* 요소 사이의 간격 */
}

.form-inline .col {
	display: flex;
	align-items: center;
	gap: 20px;
}

.form-inline .col:nth-child(1) {
	margin-right: 20px;
}

.form-inline .form-control {
	flex: 1;
	min-width: 150px; /* 최소 너비 설정 */
	border: none;
	border-bottom: #C7C8C9 2px solid;
	border-radius: 0;
	color: #666666; /* 회색으로 설정 */
}

.form-inline .form-control[type="file"] {
	flex: 2; /* 파일 입력 필드의 너비를 더 크게 설정 */
}

.form-inline .form-control[type="date"] {
	flex: 1; /* 날짜 입력 필드의 너비를 설정 */
}

.boardType {
	border: none;
	border-bottom: #C7C8C9 2px solid;
	border-radius: 0;
	max-width: 150px; /* 선택 박스의 최대 너비를 설정 */
	color: #666666; /* 회색으로 설정 */
}

#ImageLogoContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

#ImageLogoContainer img {
	max-width: 100%;
	max-height: 200px;
	margin-top: 10px;
	height: 40px;
}

#title {
	min-width: 500px; /* 제목 입력란의 최소 너비를 늘림 */
	color: #666666; /* 회색으로 설정 */
}

.comment-div {
	height: auto;
    min-height: calc(100vh - 300px);
    border: 2px solid #C7C8C9;
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #fff;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 100%;
    box-sizing: border-box; /* 패딩과 보더를 포함한 너비 계산 */
}