# settings
.settings/
target/
.metadata

# vscode
.vscode/

# eclipse
.classpath
.project
.springBeans

# security
#*.properties

# file
# *.jpg
# *.png
# *.jpeg

src/front/image/
src/front/icon/
src/main/webapp/resources/images/
