<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cardproject.myapp.dao">

	<!-- test : 모든 경매물품 조회 <select id="selectAllItems" resultType="itemvo"> 
		select * from items </select> -->
	<!-- 포켓몬 물품 검색 -->
	<select id="selectItemForName" parameterType="Map" resultType="itemdetailvo">
		SELECT *
	    FROM (
	        SELECT
	            i.item_id,
	            i.user_id,
	            i.item_name,
	            i.cmt,
	            i.status,
	            i.min_price,
	            i.rarity,
	            TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
	            TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
	            i.trade_type,
	            i.cat,
	            i.image1,
	            i.image2,
	            i.image3,
	            i.image4,
	            i.image5,
	            u.nickname,
	            u.user_tier,
	            p.card_id,
	            p.card_name,
	            p.card_image,
	            COALESCE(b.bid_count, 0) AS bid_count,
	            ROW_NUMBER() OVER (
	                ORDER BY
	                <choose>
						<when test="sortOption == 'recent'">
							i.create_date DESC
						</when>
						<when test="sortOption == 'ending'">
							i.end_date
						</when>
						<when test="sortOption == 'mostpeople'">
							b.bid_count
						</when>
						<when test="sortOption == 'leastpeople'">
							b.bid_count DESC
						</when>
						<otherwise>i.create_date DESC</otherwise>
					</choose>
	            ) AS ROWNUMBER
	        FROM
	            items i
	        JOIN
	            users u ON u.user_id = i.user_id
	        LEFT JOIN (
	            SELECT item_id, COUNT(*) AS bid_count
	            FROM biddings
	            GROUP BY item_id
	        ) b ON i.item_id = b.item_id
	        LEFT JOIN pokemon p ON i.p_card_id = p.card_id
	        WHERE i.end_date > SYSDATE AND  i.item_name LIKE '%' || #{keyword} || '%'
	    ) subquery
	    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<!-- P경매물품 조회 -->
	<select id="selectItemRecent" parameterType="map" resultType="itemdetailvo">
		SELECT *
	    FROM (
	        SELECT
	            i.item_id,
	            i.user_id,
	            i.item_name,
	            i.cmt,
	            i.status,
	            i.min_price,
	            i.rarity,
	            TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
	            TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
	            i.trade_type,
	            i.cat,
	            i.image1,
	            i.image2,
	            i.image3,
	            i.image4,
	            i.image5,
	            u.nickname,
	            u.user_tier,
	            p.card_id,
	            p.card_name,
	            p.card_image,
	            COALESCE(b.bid_count, 0) AS bid_count,
	            ROW_NUMBER() OVER (
	                ORDER BY
	                <choose>
						<when test="sortOption == 'recent'">
							i.create_date DESC
						</when>
						<when test="sortOption == 'ending'">
							i.end_date
						</when>
						<when test="sortOption == 'mostpeople'">
							b.bid_count
						</when>
						<when test="sortOption == 'leastpeople'">
							b.bid_count DESC
						</when>
						<otherwise>i.create_date DESC</otherwise>
					</choose>
	            ) AS ROWNUMBER
	        FROM
	            items i
	        JOIN
	            users u ON u.user_id = i.user_id
	        LEFT JOIN (
	            SELECT item_id, COUNT(*) AS bid_count
	            FROM biddings
	            GROUP BY item_id
	        ) b ON i.item_id = b.item_id
	        LEFT JOIN pokemon p ON i.p_card_id = p.card_id
	        WHERE i.end_date > SYSDATE
	    ) subquery
	    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<!-- Pokemon 총 게시글 수 -->
	<select id="getTotalItemCount" resultType="int">
		SELECT COUNT(*) FROM items WHERE end_date > SYSDATE AND cat=0
	</select>
	<!-- 검색했을 때 게시글 수 -->
	<select id="getTotalItemCountByKeyword" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM items WHERE item_name LIKE '%' || #{keyword} || '%' AND end_date > SYSDATE AND cat=0
	</select>
	<!-- 경매물품 하나 detail 조회 -->
	<select id="selectItemOne" parameterType="int"
		resultType="itemdetailvo">
		SELECT i.item_id, i.user_id, i.item_name, i.cmt, i.status,
		i.min_price,
		i.rarity, TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
		TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
		i.trade_type, i.cat, i.image1, i.image2, i.image3, i.image4, i.image5,
		u.nickname, u.user_tier, p.card_id, p.card_name, p.card_image,
		COALESCE(b.bid_count, 0) AS bid_count
		FROM items i
		JOIN users u ON u.user_id = i.user_id
		LEFT JOIN (
		SELECT item_id, COUNT(*) AS bid_count
		FROM biddings
		GROUP BY item_id
		) b ON i.item_id = b.item_id
		LEFT JOIN pokemon p ON
		i.p_card_id = p.card_id
		WHERE i.item_id = #{item_id}

	</select>

	<!-- 경매물품등록 (items테이블에 Insert) -->
	<insert id="itemInsert" parameterType="itemvo">
		insert into items(item_id, user_id, item_name, cmt, status, min_price,
		rarity, end_date, cat, image1, image2, image3, image4,
		image5, d_card_id, p_card_id, y_card_id, s_card_id, o_card_id)
		values (SEQ_ITEMS.NEXTVAL, #{user_id}, #{item_name}, #{cmt}, #{status},
		#{min_price}, #{rarity}, to_date(#{end_date}, 'YYYY-MM-DD
		HH24:MI:SS'), #{cat}, #{image1}, #{image2}, #{image3},
		#{image4}, #{image5}, #{d_card_id}, #{p_card_id}, #{y_card_id},
		#{s_card_id}, #{o_card_id})
	</insert>
	<!-- item카테고리 -->
	<select id="selectCat" parameterType="int" resultType="int">
		select cat from items where item_id = #{item_id}
	</select>
	<!-- 관심물품 등록 (likes테이블에 Insert) -->
	<insert id="likeInsert" parameterType="likevo">
		insert into likes(user_id,item_id)
		values (#{user_id},#{item_id})
	</insert>
	<!-- 관심물품 삭제 (likes테이블에서 delete) -->
	<delete id="likeDelete" parameterType="map">
		delete from likes where
		user_id=#{user_id} and item_id=#{item_id}
	</delete>
	<!-- 관심물품 상태 확인 -->
	<select id="likeStatus" parameterType="map" resultType="likevo">
		select * from likes where user_id=#{user_id} and item_id=#{item_id}
	</select>
	
	<!-- 입찰 (biddings테이블에 Insert) -->
	<insert id="biddingInsert" parameterType="biddingvo">
		insert into biddings(bid_id,price,user_id,item_id) 
		values(BID_SEQ.NEXTVAL, #{price},#{user_id},#{item_id})
	</insert>
	<!-- 사용자가 동일 물품에 입찰하는지 확인용 -->
	<select id="userBidsForItem" parameterType="map" resultType="biddingvo">
		SELECT *
		FROM biddings 
		WHERE user_id = #{user_id} AND item_id = #{item_id}
	</select>
	<!-- 자신의 물품에 입찰하는지 확인용 -->
	<select id="sellerBidsForItem" parameterType="map" resultType="itemvo">
		select * from items where user_id = #{user_id} and item_id = #{item_id}
	</select>
	<!-- 낙찰(시간확인) -->
	<select id="selectExpiredItem" resultType="itemvo">
		select * from items where end_date <![CDATA[<]]> sysdate
	</select>
	<!-- 물품에 해당하는 입찰 조회 -->
	<select id="selectBid" parameterType="int" resultType="biddingvo">
		select * from biddings where item_id = #{item_id} and is_win=0
	</select>
	<!-- 물품에 해당하는 입찰이 낙찰상태인지 조회 -->
	<select id="bidVerification" parameterType="int" resultType="biddingvo">
		select * from biddings where item_id = #{item_id} and is_win = 1
	</select>
	<!-- 낙찰되지않은 경매중 마감된 items 조회(낙찰할 것만/입찰금이 같으면 더 빨리 입찰한 걸로 조회) -->
	<select id="selectExpired"  resultType="itemexpiredvo">
		SELECT *
 		FROM
		(SELECT i.item_id,
        i.user_id as seller_id,
        i.item_name,
        i.end_date,
        b.bid_id,
        b.price,
        b.bid_time,
        b.user_id as customer_id,
        b.is_win,
        ROW_NUMBER() OVER ( PARTITION BY b.ITEM_ID ORDER BY b.PRICE DESC, b.BID_TIME) AS RNK
		FROM items i
		JOIN biddings b ON i.item_id = b.item_id
		JOIN (
		    SELECT item_id, MAX(price) AS price
		    FROM biddings
		    WHERE is_win = 0
		    GROUP BY item_id
		) mb ON b.item_id = mb.item_id AND b.price = mb.price
		WHERE i.end_date <![CDATA[<]]> SYSDATE
		AND b.is_win = 0)
		WHERE RNK = 1
	</select>
	
	<select id="getExpiredIsWin0" resultType="itemexpiredvo">
		SELECT i.item_id,
        i.user_id as seller_id,
        i.item_name,
        i.end_date,
        b.bid_id,
        b.price,
        b.bid_time,
        b.user_id as customer_id,
        b.is_win
		FROM items i
		JOIN biddings b ON i.item_id = b.item_id
		WHERE i.end_date <![CDATA[<]]> SYSDATE
		AND b.is_win = 0
	</select>
	
	<update id="biddingUpdate1" parameterType="int">
		UPDATE biddings 
		SET is_win = 1 
		WHERE item_id = #{item_id} 
		AND price = (
		    SELECT MAX(price) 
		    FROM biddings 
		    WHERE item_id = #{item_id}
		)
	</update>
	<!-- 입찰중 낙찰된 것들 is_win 1로 update -->
	<update id="updateIsWin1" parameterType="java.util.List">
        UPDATE biddings 
        SET IS_WIN = '1' 
        WHERE BID_ID IN 
        <foreach item="bidIdArr" collection="list" open="(" close=")" separator=",">
            #{bidIdArr}
        </foreach>
    </update>
    
	<!-- 유찰된 biddings 2로 update -->
	<update id="biddingUpdate2" parameterType="int">
		UPDATE biddings
		SET IS_WIN = 2
		WHERE BID_ID IN
		<foreach item="isWin0BidIdArr" collection="list" open="(" close=")" separator=",">
            #{isWin0BidIdArr}
        </foreach>
	</update>
	
	<!-- 유찰금보다 큰 낙찰금만 뽑는 Bid -->
	<select id="secondPrice" resultType="biddingvo">
		
		SELECT BID_ID, PRICE, USER_ID, ITEM_ID, BID_TIME, IS_WIN
		FROM (
		    SELECT b.BID_ID, b.PRICE, b.USER_ID, b.ITEM_ID, b.BID_TIME, b.IS_WIN,
		           DENSE_RANK() OVER (PARTITION BY b.ITEM_ID ORDER BY b.PRICE DESC) AS RNK
		    FROM biddings b
		    JOIN items i ON b.item_id = i.item_id
		    WHERE b.IS_WIN != 0
		      AND b.PRICE <![CDATA[>]]> i.min_price
		)
		WHERE RNK = 2
		
		UNION
		
		SELECT b.BID_ID, b.PRICE, b.USER_ID, b.ITEM_ID, b.BID_TIME, b.IS_WIN
		FROM biddings b
		JOIN items i ON b.item_id = i.item_id
		WHERE b.IS_WIN = 1
		  AND b.ITEM_ID NOT IN (
		      SELECT ITEM_ID 
		      FROM biddings 
		      WHERE IS_WIN = 2 
		      GROUP BY ITEM_ID
		  )
		  AND b.PRICE <![CDATA[>]]> i.min_price
	</select>
	<!-- 유찰금보다 작은 낙찰금만 뽑는 Bid -->
	<select id="secondPriceNot" resultType="biddingvo">
		
		SELECT BID_ID, PRICE, USER_ID, ITEM_ID, BID_TIME, IS_WIN
		FROM (
		    SELECT b.BID_ID, b.PRICE, b.USER_ID, b.ITEM_ID, b.BID_TIME, b.IS_WIN,
		           DENSE_RANK() OVER (PARTITION BY b.ITEM_ID ORDER BY b.PRICE DESC) AS RNK
		    FROM biddings b
		    JOIN items i ON b.item_id = i.item_id
		    WHERE b.IS_WIN != 0
		      AND b.PRICE <![CDATA[<]]> i.min_price
		)
		WHERE RNK = 2
		
		UNION
		
		SELECT b.BID_ID, b.PRICE, b.USER_ID, b.ITEM_ID, b.BID_TIME, b.IS_WIN
		FROM biddings b
		JOIN items i ON b.item_id = i.item_id
		WHERE b.IS_WIN = 1
		  AND b.ITEM_ID NOT IN (
		      SELECT ITEM_ID 
		      FROM biddings 
		      WHERE IS_WIN = 2 
		      GROUP BY ITEM_ID
		  )
		  AND b.PRICE <![CDATA[<]]> i.min_price
	</select>
	<!-- 전부 유찰된 biddings 3로 update -->
	<update id="biddingUpdate3" parameterType="int">
		UPDATE biddings
		SET is_win = 3
		WHERE item_id IN
		<foreach item="isWinUpdate3ForBidIdArr" collection="list" open="(" close=")" separator=",">
            #{isWinUpdate3ForBidIdArr}
        </foreach>
	</update>
	<!-- 낙찰insert -->
	<insert id="tradeInsert" parameterType="tradevo">
		insert into trades(trade_id,user_id,item_id,price,trade_type,is_recommend,stage,is_success)
		values (TRADE_SEQ.NEXTVAL, #{user_id},#{item_id},#{price},#{trade_type},#{is_recommend},#{stage},#{is_success})
	</insert>
	<!-- 알림 insert -->
	<insert id="notificationInsert" parameterType="map">
		INSERT INTO notifications (notification_id,cmt,user_id,item_id)
		VALUES (NOTIFICATION_SEQ.NEXTVAL,#{cmt},#{user_id},#{item_id})
	</insert>
	<!-- 거래내역에 item_id를 가진 낙찰이 있는지 확인 -->
	<select id="isTradeExist" parameterType="int" resultType="tradevo">
		select * from trades where item_id=#{item_id}
	</select>
	<!-- 입찰 금액 수정 -->
	<update id="biddingPriceUpdate" parameterType="map">
		UPDATE biddings
		SET price = #{price}
		WHERE user_id=#{user_id} AND item_id=#{item_id}
	</update>
	<!-- 현재 자신의 입찰가 불러오기 -->
	<select id="myBidPrice" parameterType="map" resultType="Integer">
		select price from biddings where user_id=#{user_id} AND item_id=#{item_id}
	</select>
	
	<!-- 포켓몬 카드 검색하기 -->
	<select id="selectPRight" parameterType="String" resultType="pokemonvo">
		SELECT * FROM pokemon
        WHERE card_name LIKE '%' || #{cardKeyword} || '%'
	</select>
	<!-- @@@@@@@디지몬@@@@@@@@@@@ -->
	
	<!-- 디지몬 카드 검색하기 -->
	<select id="selectDRight" parameterType="String" resultType="digimonvo">
		SELECT * FROM digimon
        WHERE card_name LIKE '%' || #{cardKeyword} || '%'
	</select>
	<!-- 디지몬 물품 검색 -->
	<select id="selectItemForNameDigimon" parameterType="Map" resultType="itemdetailvo">
		SELECT *
	    FROM (
	        SELECT
	            i.item_id,
	            i.user_id,
	            i.item_name,
	            i.cmt,
	            i.status,
	            i.min_price,
	            i.rarity,
	            TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
	            TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
	            i.trade_type,
	            i.cat,
	            i.image1,
	            i.image2,
	            i.image3,
	            i.image4,
	            i.image5,
	            u.nickname,
	            u.user_tier,
	            d.card_id,
	            d.card_name,
	            d.card_image,
	            COALESCE(b.bid_count, 0) AS bid_count,
	            ROW_NUMBER() OVER (
	                ORDER BY
	                <choose>
						<when test="sortOption == 'recent'">
							i.create_date DESC
						</when>
						<when test="sortOption == 'ending'">
							i.end_date
						</when>
						<when test="sortOption == 'mostpeople'">
							b.bid_count
						</when>
						<when test="sortOption == 'leastpeople'">
							b.bid_count DESC
						</when>
						<otherwise>i.create_date DESC</otherwise>
					</choose>
	            ) AS ROWNUMBER
	        FROM
	            items i
	        JOIN
	            users u ON u.user_id = i.user_id
	        LEFT JOIN (
	            SELECT item_id, COUNT(*) AS bid_count
	            FROM biddings
	            GROUP BY item_id
	        ) b ON i.item_id = b.item_id
	        LEFT JOIN digimon d ON i.d_card_id = d.card_id
	        WHERE i.end_date > SYSDATE AND  i.item_name LIKE '%' || #{keyword} || '%' AND cat=1
	    ) subquery
	    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<!-- D경매물품 조회 -->
	<select id="selectItemDigimon" parameterType="map" resultType="itemdetailvo">
		SELECT *
	    FROM (
	        SELECT
	            i.item_id,
	            i.user_id,
	            i.item_name,
	            i.cmt,
	            i.status,
	            i.min_price,
	            i.rarity,
	            TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
	            TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
	            i.trade_type,
	            i.cat,
	            i.image1,
	            i.image2,
	            i.image3,
	            i.image4,
	            i.image5,
	            u.nickname,
	            u.user_tier,
	            d.card_id,
	            d.card_name,
	            d.card_image,
	            COALESCE(b.bid_count, 0) AS bid_count,
	            ROW_NUMBER() OVER (
	                ORDER BY
	                <choose>
						<when test="sortOption == 'recent'">
							i.create_date DESC
						</when>
						<when test="sortOption == 'ending'">
							i.end_date
						</when>
						<when test="sortOption == 'mostpeople'">
							b.bid_count
						</when>
						<when test="sortOption == 'leastpeople'">
							b.bid_count DESC
						</when>
						<otherwise>i.create_date DESC</otherwise>
					</choose>
	            ) AS ROWNUMBER
	        FROM
	            items i
	        JOIN
	            users u ON u.user_id = i.user_id
	        LEFT JOIN (
	            SELECT item_id, COUNT(*) AS bid_count
	            FROM biddings
	            GROUP BY item_id
	        ) b ON i.item_id = b.item_id
	        LEFT JOIN digimon d ON i.d_card_id = d.card_id
	        WHERE i.end_date > SYSDATE and cat=1
	    ) subquery
	    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<!-- Digimon 총 게시글 수 -->
	<select id="getTotalItemCountDigimon" resultType="int">
		SELECT COUNT(*) FROM items WHERE end_date > SYSDATE AND cat=1
	</select>
	<!-- digimon 검색했을 때 게시글 수 -->
	<select id="getTotalItemCountByKeywordDigimon" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM items WHERE item_name LIKE '%' || #{keyword} || '%' AND end_date > SYSDATE AND cat=1
	</select>
	<!-- digimon 경매물품 하나 detail 조회 -->
	<select id="selectItemOneDigimon" parameterType="int"
		resultType="itemdetailvo">
		SELECT i.item_id, i.user_id, i.item_name, i.cmt, i.status,
		i.min_price,
		i.rarity, TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
		TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
		i.trade_type, i.cat, i.image1, i.image2, i.image3, i.image4, i.image5,
		u.nickname, u.user_tier, d.card_id, d.card_name, d.card_image,
		COALESCE(b.bid_count, 0) AS bid_count
		FROM items i
		JOIN users u ON u.user_id = i.user_id
		LEFT JOIN (
		SELECT item_id, COUNT(*) AS bid_count
		FROM biddings
		GROUP BY item_id
		) b ON i.item_id = b.item_id
		LEFT JOIN digimon d ON
		i.d_card_id = d.card_id
		WHERE i.item_id = #{item_id} and cat=1

	</select>
	
	
	
	
	<!-- @@@@@@@@원피스@@@@@@@@@ -->
	<!-- 원피스 카드 검색하기 -->
	<select id="selectORight" parameterType="String" resultType="onepiecevo">
		SELECT * FROM onepiece
        WHERE card_name LIKE '%' || #{cardKeyword} || '%'
	</select>
	<!-- 원피스 물품 검색 -->
	<select id="selectItemForNameOnepiece" parameterType="Map" resultType="itemdetailvo">
		SELECT *
	    FROM (
	        SELECT
	            i.item_id,
	            i.user_id,
	            i.item_name,
	            i.cmt,
	            i.status,
	            i.min_price,
	            i.rarity,
	            TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
	            TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
	            i.trade_type,
	            i.cat,
	            i.image1,
	            i.image2,
	            i.image3,
	            i.image4,
	            i.image5,
	            u.nickname,
	            u.user_tier,
	            o.card_id,
	            o.card_name,
	            o.card_image,
	            COALESCE(b.bid_count, 0) AS bid_count,
	            ROW_NUMBER() OVER (
	                ORDER BY
	                <choose>
						<when test="sortOption == 'recent'">
							i.create_date DESC
						</when>
						<when test="sortOption == 'ending'">
							i.end_date
						</when>
						<when test="sortOption == 'mostpeople'">
							b.bid_count
						</when>
						<when test="sortOption == 'leastpeople'">
							b.bid_count DESC
						</when>
						<otherwise>i.create_date DESC</otherwise>
					</choose>
	            ) AS ROWNUMBER
	        FROM
	            items i
	        JOIN
	            users u ON u.user_id = i.user_id
	        LEFT JOIN (
	            SELECT item_id, COUNT(*) AS bid_count
	            FROM biddings
	            GROUP BY item_id
	        ) b ON i.item_id = b.item_id
	        LEFT JOIN onepiece o ON i.o_card_id = o.card_id
	        WHERE i.end_date > SYSDATE AND  i.item_name LIKE '%' || #{keyword} || '%' AND cat=3
	    ) subquery
	    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<!-- 원피스 경매물품 조회 -->
	<select id="selectItemOnepiece" parameterType="map" resultType="itemdetailvo">
		SELECT *
	    FROM (
	        SELECT
	            i.item_id,
	            i.user_id,
	            i.item_name,
	            i.cmt,
	            i.status,
	            i.min_price,
	            i.rarity,
	            TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
	            TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
	            i.trade_type,
	            i.cat,
	            i.image1,
	            i.image2,
	            i.image3,
	            i.image4,
	            i.image5,
	            u.nickname,
	            u.user_tier,
	            o.card_id,
	            o.card_name,
	            o.card_image,
	            COALESCE(b.bid_count, 0) AS bid_count,
	            ROW_NUMBER() OVER (
	                ORDER BY
	                <choose>
						<when test="sortOption == 'recent'">
							i.create_date DESC
						</when>
						<when test="sortOption == 'ending'">
							i.end_date
						</when>
						<when test="sortOption == 'mostpeople'">
							b.bid_count
						</when>
						<when test="sortOption == 'leastpeople'">
							b.bid_count DESC
						</when>
						<otherwise>i.create_date DESC</otherwise>
					</choose>
	            ) AS ROWNUMBER
	        FROM
	            items i
	        JOIN
	            users u ON u.user_id = i.user_id
	        LEFT JOIN (
	            SELECT item_id, COUNT(*) AS bid_count
	            FROM biddings
	            GROUP BY item_id
	        ) b ON i.item_id = b.item_id
	        LEFT JOIN onepiece o ON i.o_card_id = o.card_id
	        WHERE i.end_date > SYSDATE and cat=3
	    ) subquery
	    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<!-- 원피스 총 게시글 수 -->
	<select id="getTotalItemCountOnepiece" resultType="int">
		SELECT COUNT(*) FROM items WHERE end_date > SYSDATE AND cat=3
	</select>
	<!-- 원피스 검색했을 때 게시글 수 -->
	<select id="getTotalItemCountByKeywordOnepiece" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM items WHERE item_name LIKE '%' || #{keyword} || '%' AND end_date > SYSDATE AND cat=3
	</select>
	<!-- 원피스 경매물품 하나 detail 조회 -->
	<select id="selectItemOneOnepiece" parameterType="int"
		resultType="itemdetailvo">
		SELECT i.item_id, i.user_id, i.item_name, i.cmt, i.status,
		i.min_price,
		i.rarity, TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
		TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
		i.trade_type, i.cat, i.image1, i.image2, i.image3, i.image4, i.image5,
		u.nickname, u.user_tier, o.card_id, o.card_name, o.card_image,
		COALESCE(b.bid_count, 0) AS bid_count
		FROM items i
		JOIN users u ON u.user_id = i.user_id
		LEFT JOIN (
		SELECT item_id, COUNT(*) AS bid_count
		FROM biddings
		GROUP BY item_id
		) b ON i.item_id = b.item_id
		LEFT JOIN onepiece o ON
		i.o_card_id = o.card_id
		WHERE i.item_id = #{item_id} and cat=3

	</select>
	<!-- @@@@@@@@유희왕@@@@@@@@@ -->
	
	<select id="selectYCard" resultType="yugiohvo">
		select * from yugioh
	</select>
	<!-- 유희왕 카드 검색하기 -->
	<select id="selectYRight" parameterType="String" resultType="yugiohvo">
		SELECT * FROM yugioh
        WHERE card_name LIKE '%' || #{cardKeyword} || '%'
	</select>
	<!-- 유희왕 물품 검색 -->
	<select id="selectItemForNameYugioh" parameterType="Map" resultType="itemdetailvo">
		SELECT *
	    FROM (
	        SELECT
	            i.item_id,
	            i.user_id,
	            i.item_name,
	            i.cmt,
	            i.status,
	            i.min_price,
	            i.rarity,
	            TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
	            TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
	            i.trade_type,
	            i.cat,
	            i.image1,
	            i.image2,
	            i.image3,
	            i.image4,
	            i.image5,
	            u.nickname,
	            u.user_tier,
	            y.card_id,
	            y.card_name,
	            y.card_image,
	            COALESCE(b.bid_count, 0) AS bid_count,
	            ROW_NUMBER() OVER (
	                ORDER BY
	                <choose>
						<when test="sortOption == 'recent'">
							i.create_date DESC
						</when>
						<when test="sortOption == 'ending'">
							i.end_date
						</when>
						<when test="sortOption == 'mostpeople'">
							b.bid_count
						</when>
						<when test="sortOption == 'leastpeople'">
							b.bid_count DESC
						</when>
						<otherwise>i.create_date DESC</otherwise>
					</choose>
	            ) AS ROWNUMBER
	        FROM
	            items i
	        JOIN
	            users u ON u.user_id = i.user_id
	        LEFT JOIN (
	            SELECT item_id, COUNT(*) AS bid_count
	            FROM biddings
	            GROUP BY item_id
	        ) b ON i.item_id = b.item_id
	        LEFT JOIN yugioh y ON i.y_card_id = y.card_id
	        WHERE i.end_date > SYSDATE AND  i.item_name LIKE '%' || #{keyword} || '%' AND cat=2
	    ) subquery
	    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<!-- 유희왕 경매물품 조회 -->
	<select id="selectItemYugioh" parameterType="map" resultType="itemdetailvo">
		SELECT *
	    FROM (
	        SELECT
	            i.item_id,
	            i.user_id,
	            i.item_name,
	            i.cmt,
	            i.status,
	            i.min_price,
	            i.rarity,
	            TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
	            TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
	            i.trade_type,
	            i.cat,
	            i.image1,
	            i.image2,
	            i.image3,
	            i.image4,
	            i.image5,
	            u.nickname,
	            u.user_tier,
	            y.card_id,
	            y.card_name,
	            y.card_image,
	            COALESCE(b.bid_count, 0) AS bid_count,
	            ROW_NUMBER() OVER (
	                ORDER BY
	                <choose>
						<when test="sortOption == 'recent'">
							i.create_date DESC
						</when>
						<when test="sortOption == 'ending'">
							i.end_date
						</when>
						<when test="sortOption == 'mostpeople'">
							b.bid_count
						</when>
						<when test="sortOption == 'leastpeople'">
							b.bid_count DESC
						</when>
						<otherwise>i.create_date DESC</otherwise>
					</choose>
	            ) AS ROWNUMBER
	        FROM
	            items i
	        JOIN
	            users u ON u.user_id = i.user_id
	        LEFT JOIN (
	            SELECT item_id, COUNT(*) AS bid_count
	            FROM biddings
	            GROUP BY item_id
	        ) b ON i.item_id = b.item_id
	        LEFT JOIN yugioh y ON i.y_card_id = y.card_id
	        WHERE i.end_date > SYSDATE and cat=2
	    ) subquery
	    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<!-- 유희왕 총 게시글 수 -->
	<select id="getTotalItemCountYugioh" resultType="int">
		SELECT COUNT(*) FROM items WHERE end_date > SYSDATE AND cat=2
	</select>
	<!-- 유희왕 검색했을 때 게시글 수 -->
	<select id="getTotalItemCountByKeywordYugioh" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM items WHERE item_name LIKE '%' || #{keyword} || '%' AND end_date > SYSDATE AND cat=2
	</select>
	<!-- 유희왕 경매물품 하나 detail 조회 -->
	<select id="selectItemOneYugioh" parameterType="int"
		resultType="itemdetailvo">
		SELECT i.item_id, i.user_id, i.item_name, i.cmt, i.status,
		i.min_price,
		i.rarity, TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
		TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
		i.trade_type, i.cat, i.image1, i.image2, i.image3, i.image4, i.image5,
		u.nickname, u.user_tier, y.card_id, y.card_name, y.card_image,
		COALESCE(b.bid_count, 0) AS bid_count
		FROM items i
		JOIN users u ON u.user_id = i.user_id
		LEFT JOIN (
		SELECT item_id, COUNT(*) AS bid_count
		FROM biddings
		GROUP BY item_id
		) b ON i.item_id = b.item_id
		LEFT JOIN yugioh y ON
		i.y_card_id = y.card_id
		WHERE i.item_id = #{item_id} and cat=2

	</select>
	<!-- @@@@@@@@스포츠@@@@@@@@@ -->
	
	<select id="selectSCard" resultType="sportvo">
		select * from sports
	</select>
	<!-- 스포츠 카드 검색하기 -->
	<select id="selectSRight" parameterType="String" resultType="sportvo">
		SELECT * FROM sports
        WHERE card_name LIKE '%' || #{cardKeyword} || '%'
	</select>
	<!-- 스포츠 물품 검색 -->
	<select id="selectItemForNameSport" parameterType="Map" resultType="itemdetailvo">
		SELECT *
	    FROM (
	        SELECT
	            i.item_id,
	            i.user_id,
	            i.item_name,
	            i.cmt,
	            i.status,
	            i.min_price,
	            i.rarity,
	            TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
	            TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
	            i.trade_type,
	            i.cat,
	            i.image1,
	            i.image2,
	            i.image3,
	            i.image4,
	            i.image5,
	            u.nickname,
	            u.user_tier,
	            s.card_id,
	            s.card_name,
	            s.card_image,
	            COALESCE(b.bid_count, 0) AS bid_count,
	            ROW_NUMBER() OVER (
	                ORDER BY
	                <choose>
						<when test="sortOption == 'recent'">
							i.create_date DESC
						</when>
						<when test="sortOption == 'ending'">
							i.end_date
						</when>
						<when test="sortOption == 'mostpeople'">
							b.bid_count
						</when>
						<when test="sortOption == 'leastpeople'">
							b.bid_count DESC
						</when>
						<otherwise>i.create_date DESC</otherwise>
					</choose>
	            ) AS ROWNUMBER
	        FROM
	            items i
	        JOIN
	            users u ON u.user_id = i.user_id
	        LEFT JOIN (
	            SELECT item_id, COUNT(*) AS bid_count
	            FROM biddings
	            GROUP BY item_id
	        ) b ON i.item_id = b.item_id
	        LEFT JOIN sports s ON i.s_card_id = s.card_id
	        WHERE i.end_date > SYSDATE AND  i.item_name LIKE '%' || #{keyword} || '%' AND cat=4
	    ) subquery
	    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<!-- 스포츠 경매물품 조회 -->
	<select id="selectItemSport" parameterType="map" resultType="itemdetailvo">
		SELECT *
	    FROM (
	        SELECT
	            i.item_id,
	            i.user_id,
	            i.item_name,
	            i.cmt,
	            i.status,
	            i.min_price,
	            i.rarity,
	            TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
	            TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
	            i.trade_type,
	            i.cat,
	            i.image1,
	            i.image2,
	            i.image3,
	            i.image4,
	            i.image5,
	            u.nickname,
	            u.user_tier,
	            s.card_id,
	            s.card_name,
	            s.card_image,
	            COALESCE(b.bid_count, 0) AS bid_count,
	            ROW_NUMBER() OVER (
	                ORDER BY
	                <choose>
						<when test="sortOption == 'recent'">
							i.create_date DESC
						</when>
						<when test="sortOption == 'ending'">
							i.end_date
						</when>
						<when test="sortOption == 'mostpeople'">
							b.bid_count
						</when>
						<when test="sortOption == 'leastpeople'">
							b.bid_count DESC
						</when>
						<otherwise>i.create_date DESC</otherwise>
					</choose>
	            ) AS ROWNUMBER
	        FROM
	            items i
	        JOIN
	            users u ON u.user_id = i.user_id
	        LEFT JOIN (
	            SELECT item_id, COUNT(*) AS bid_count
	            FROM biddings
	            GROUP BY item_id
	        ) b ON i.item_id = b.item_id
	        LEFT JOIN sports s ON i.s_card_id = s.card_id
	        WHERE i.end_date > SYSDATE and cat=4
	    ) subquery
	    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<!-- 스포츠 총 게시글 수 -->
	<select id="getTotalItemCountSport" resultType="int">
		SELECT COUNT(*) FROM items WHERE end_date > SYSDATE AND cat=4
	</select>
	<!-- 스포츠 검색했을 때 게시글 수 -->
	<select id="getTotalItemCountByKeywordSport" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM items WHERE item_name LIKE '%' || #{keyword} || '%' AND end_date > SYSDATE AND cat=4
	</select>
	<!-- 스포츠 경매물품 하나 detail 조회 -->
	<select id="selectItemOneSport" parameterType="int"
		resultType="itemdetailvo">
		SELECT i.item_id, i.user_id, i.item_name, i.cmt, i.status,
		i.min_price,
		i.rarity, TO_CHAR(i.create_date, 'yyyy-mm-dd hh24:mi:ss') create_date,
		TO_CHAR(i.end_date, 'yyyy-mm-dd hh24:mi:ss') end_date,
		i.trade_type, i.cat, i.image1, i.image2, i.image3, i.image4, i.image5,
		u.nickname, u.user_tier, s.card_id, s.card_name, s.card_image,
		COALESCE(b.bid_count, 0) AS bid_count
		FROM items i
		JOIN users u ON u.user_id = i.user_id
		LEFT JOIN (
		SELECT item_id, COUNT(*) AS bid_count
		FROM biddings
		GROUP BY item_id
		) b ON i.item_id = b.item_id
		LEFT JOIN sports s ON
		i.s_card_id = s.card_id
		WHERE i.item_id = #{item_id} and cat=4

	</select>





</mapper>

