<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace = "com.cardproject.myapp.dao">
	<select id="loginChk" parameterType="map" resultType="com.cardproject.myapp.dto.UserDTO">
		SELECT USER_ID, PW 
	    FROM USERS 
	    WHERE USER_ID = #{userid} AND PW = #{password}
	</select>
	
	<insert id="insertSignUp" parameterType="uservo">
		INSERT INTO USERS
		(
		USER_ID,
		USER_NAME,
		PW,
		NICKNAME,
		EMAIL,
		PHONE_NUMBER,
		ZIP_CODE,
		ADDRESS,
		ADDRESS_DETAIL, 
		PROFILE_IMAGE,
		USER_TIER, 
		PHONE_AGREEMENT,
		EMAIL_AGREEMENT
		)
		VALUES
		(
        #{user_id},
        #{user_name},
        #{pw},
        #{nickname},
        #{email},
        #{phone_number},
        #{zip_code},
        #{address},
        #{address_detail},
        #{profile_image},
        1,
        #{phone_agreement},
        #{email_agreement}
    )	
	</insert>
	
	<select id="checkUserId" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM USERS 
		WHERE USER_ID=#{userId}
	</select>
	
	<select id="checkNickname" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM USERS 
		WHERE NICKNAME=#{nickname}
	</select>
	
	<select id="findUserId" parameterType="map" resultType="string">
		SELECT USER_ID 
		FROM USERS 
		WHERE USER_NAME=#{userName} AND PHONE_NUMBER=#{phoneNumber}
	</select>
	
	<update id="updatePassword">
		UPDATE USERS 
		SET PW=#{password} 
		WHERE USER_ID=#{userId}
	</update>
	<select id="findByUserId" parameterType="string" resultType="com.cardproject.myapp.dto.UserDTO">
		SELECT * 
		FROM USERS 
		WHERE USER_ID = #{userId}
	</select>
	
</mapper>