<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cardproject.myapp.dao">

	<!-- 총 게시글 수 -->
	<select id="getTotalBoardCount" resultType="int">
		SELECT COUNT(*) FROM
		COMMUNITY
	</select>

	<!-- 검색 게시글 수 -->
	<select id="getTotalBoardCountByKeyword" parameterType="map"
		resultType="int">
		SELECT COUNT(*)
		FROM COMMUNITY
		JOIN USERS ON COMMUNITY.USER_ID = USERS.USER_ID
		<if test="keyword != null">
			WHERE COMMUNITY.TITLE LIKE #{keyword}
			OR COMMUNITY.TAG LIKE #{keyword}
			OR USERS.NICKNAME LIKE #{keyword}
		</if>
	</select>

	<!-- 태그 게시글 수 -->
	<select id="getTotalBoardCountByKeywordAndTag" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM COMMUNITY
    JOIN USERS ON COMMUNITY.USER_ID = USERS.USER_ID
    <where>
        <if test="keyword != null">
            (COMMUNITY.TITLE LIKE #{keyword}
            OR COMMUNITY.TAG LIKE #{keyword}
            OR USERS.NICKNAME LIKE #{keyword})
        </if>
        <if test="tag != null">
            AND COMMUNITY.TAG = #{tag}
        </if>
    </where>
</select>

	<!-- 게시글 리스트 조회 (조건 검색 + 페이징) -->
	<select id="selectBoardList" parameterType="map" resultType="boardlistvo">
    SELECT *
    FROM (
        SELECT
            COMMUNITY.COMM_ID,
            COMMUNITY.TAG,
            COMMUNITY.TITLE,
            USERS.NICKNAME,
            COMMUNITY.CREATE_DATE,
            COMMUNITY.RECOMMEND,
            COMMUNITY.VIEWS,
            ROW_NUMBER() OVER (
                ORDER BY
                    <choose>
                        <when test="sort == 'recommend'">
                            COMMUNITY.RECOMMEND DESC, COMMUNITY.CREATE_DATE DESC
                        </when>
                        <when test="sort == 'view'">
                            COMMUNITY.VIEWS DESC, COMMUNITY.CREATE_DATE DESC
                        </when>
                        <otherwise>
                            COMMUNITY.CREATE_DATE DESC
                        </otherwise>
                    </choose>
            ) AS ROWNUMBER
        FROM
            COMMUNITY
        JOIN
            USERS ON COMMUNITY.USER_ID = USERS.USER_ID
        <where>
            <if test="keyword != null">
                (COMMUNITY.TITLE LIKE #{keyword}
                OR USERS.NICKNAME LIKE #{keyword})
            </if>
            <if test="tag != null">
                AND COMMUNITY.TAG = #{tag}
            </if>
        </where>
    ) subquery
    WHERE ROWNUMBER BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
</select>

	<!-- 게시글 상세 조회 -->
	<select id="selectByCommId" parameterType="int"
		resultType="boardlistvo">
		SELECT
		COMMUNITY.COMM_ID,
		COMMUNITY.CAT,
		COMMUNITY.TAG,
		COMMUNITY.TITLE,
		USERS.NICKNAME,
		COMMUNITY.CREATE_DATE,
		COMMUNITY.RECOMMEND,
		COMMUNITY.VIEWS,
		COMMUNITY.CTT,
		COMMUNITY.IMAGE
		FROM
		COMMUNITY
		JOIN
		USERS ON
		COMMUNITY.USER_ID = USERS.USER_ID
		WHERE
		COMM_ID=#{commid}
	</select>

	<!-- 조회수 증가 -->
	<update id="updateViews" parameterType="int">
		UPDATE COMMUNITY
		SET VIEWS
		= VIEWS + 1
		WHERE COMM_ID = #{commid}
	</update>

	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="communityvo">
		INSERT INTO
		COMMUNITY(COMM_ID, TITLE, CAT, CTT, CREATE_DATE, USER_ID, RECOMMEND,
		VIEWS, TAG,IMAGE)
		VALUES(COMM_SEQ.NEXTVAL, #{title}, #{cat}, #{ctt},
		SYSDATE, #{user_id}, #{recommend},
		#{views},#{tag},#{image})
	</insert>

	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="communityvo">
		UPDATE COMMUNITY SET
		TITLE=#{title}, CAT=#{cat}, CTT=#{ctt}, TAG=#{tag}, IMAGE=#{image}
		WHERE COMM_ID=#{comm_id}
	</update>

	<!-- 게시글 삭제 -->
	<insert id="deleteBoard" parameterType="int">
		DELETE FROM COMMUNITY
		WHERE COMM_ID=#{commid}
	</insert>

	<!-- 게시글에 대한 댓글 cascade 수행 -->
	<delete id="deleteRepliesByCommId" parameterType="int">
		DELETE FROM
		REPLIES WHERE COMM_ID = #{commId}
	</delete>

	<!-- 추천 -->
	<update id="incrementRecommend" parameterType="int">
		UPDATE COMMUNITY
		SET RECOMMEND = RECOMMEND + 1 WHERE COMM_ID = #{commid}
	</update>

	<!-- 추천 수 조회 -->
	<select id="getRecommendCount" parameterType="int"
		resultType="int">
		SELECT RECOMMEND FROM COMMUNITY WHERE COMM_ID = #{commid}
	</select>

	<!-- 댓글 리스트 조회 -->
	<select id="selectReplie" parameterType="int"
		resultType="replievo">
		SELECT
		R.CMT,
		R.CREATE_TIME,
		U.NICKNAME,
		U.PROFILE_IMAGE
		FROM
		REPLIES R
		JOIN USERS U ON R.USER_ID = U.USER_ID
		WHERE COMM_ID=#{commid}
	</select>

	<!-- 댓글 수 조회 -->
	<select id="selectReplieNum" parameterType="int"
		resultType="int">
		SELECT COUNT(*) FROM REPLIES WHERE COMM_ID=#{commid}
	</select>

	<!-- 댓글 작성 -->
	<insert id="insertComment" parameterType="replievo">
		INSERT INTO
		REPLIES(REPLY_ID, CMT, COMM_ID, CREATE_TIME, USER_ID)
		VALUES(REPLY_SEQ.NEXTVAL,#{cmt},#{comm_id}, SYSDATE, #{user_id})
	</insert>
</mapper>
