<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cardproject.myapp.dao">

	<!-- test -->
	<select id="selectOrFilterPCard" parameterType="map" resultType="pokemonvo">
         SELECT * FROM (
            SELECT
            a.*, ROWNUM rnum
            FROM (
                SELECT * FROM POKEMON
                WHERE 1=1
                <if test='card_sort != null and card_sort != "s"'>
                    AND CARD_SORT = #{card_sort}
                </if>
                <if test='card_type != null and card_type != "t"'>
                    AND CARD_TYPE = #{card_type}
                </if>
                ORDER BY CARD_ID
            ) a
            WHERE ROWNUM &lt;= #{endRow}
        )
        WHERE rnum &gt;= #{startRow}
    </select>

	<select id="selectOrFilterYCard" parameterType="map" resultType="yugiohvo">
         SELECT * FROM (
            SELECT
            a.*, ROWNUM rnum
            FROM (
                SELECT * FROM YUGIOH
                WHERE 1=1
                <if test='card_sort != null and card_sort != "s"'>
                    AND CARD_SORT = #{card_sort}
                </if>
                <if test='card_type != null and card_type != "t"'>
                    AND CARD_TYPE = #{card_type}
                </if>
                ORDER BY CARD_ID
            ) a
            WHERE ROWNUM &lt;= #{endRow}
        )
        WHERE rnum &gt;= #{startRow}
    </select>

	<select id="selectOrFilterDCard" parameterType="map" resultType="digimonhvo">
         SELECT * FROM (
            SELECT
            a.*, ROWNUM rnum
            FROM (
                SELECT * FROM DIGIMON
                WHERE 1=1
                <if test='card_sort != null and card_sort != "s"'>
                    AND CARD_SORT = #{card_sort}
                </if>
                <if test='card_type != null and card_type != "t"'>
                    AND CARD_TYPE = #{card_type}
                </if>
                ORDER BY CARD_ID
            ) a
            WHERE ROWNUM &lt;= #{endRow}
        )
        WHERE rnum &gt;= #{startRow}
    </select>
    
    <select id="selectOrFilterOCard" parameterType="map" resultType="onepiecehvo">
         SELECT * FROM (
            SELECT
            a.*, ROWNUM rnum
            FROM (
                SELECT * FROM ONEPIECE
                WHERE 1=1
                <if test='card_sort != null and card_sort != "s"'>
                    AND CARD_SORT = #{card_sort}
                </if>
                <if test='card_type != null and card_type != "t"'>
                    AND CARD_TYPE = #{card_type}
                </if>
                ORDER BY CARD_ID
            ) a
            WHERE ROWNUM &lt;= #{endRow}
        )
        WHERE rnum &gt;= #{startRow}
    </select>

	<!-- 덱저장 -->
	<insert id="insertDeck" parameterType="deckvo">
		INSERT INTO decks
		(deck_id,cat, deck_title, create_date, user_id, recommend,
		cmt)
		VALUES
		(deck_seq.NEXTVAL, #{cat}, #{deck_title}, sysdate, #{user_id},
		#{recommend}, #{cmt})
	</insert>

	<select id="deckId" resultType="int">
		select last_number - 1 from
		user_sequences where sequence_name = 'DECK_SEQ'
	</select>

	<insert id="insertDeckSource" parameterType="decksourcevo">
		INSERT INTO
		deckSources (decksource_id, deck_id, p_card, o_card, d_card,
		y_card)
		VALUES (decksource_seq.NEXTVAL, #{deck_id}, #{p_card}, #{o_card},
		#{d_card},
		#{y_card})
	</insert>
	<!-- **덱저장** -->

</mapper>