<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cardproject.myapp.dao">

	<!-- test -->
	<select id="selectOrFilterPCard" parameterType="map"
		resultType="pokemonvo">
		SELECT * FROM (
		SELECT
		a.*, ROWNUM rnum
		FROM (
		SELECT * FROM POKEMON
		WHERE
		1=1
		<if test='card_sort != null and card_sort != "s"'>
			AND CARD_SORT = #{card_sort}
		</if>
		<if test='card_type != null and card_type != "t"'>
			AND CARD_TYPE = #{card_type}
		</if>
		<if test='card_name != null'>
			AND CARD_NAME LIKE '%' || #{card_name} || '%'
		</if>
		ORDER BY CARD_ID
		) a
		WHERE ROWNUM &lt;= #{endRow}
		)
		WHERE rnum &gt;=
		#{startRow}
	</select>

	<select id="selectOrFilterYCard" parameterType="map"
		resultType="yugiohvo">
		SELECT * FROM (
		SELECT
		a.*, ROWNUM rnum
		FROM (
		SELECT * FROM YUGIOH
		WHERE
		1=1
		<if test='card_sort != null and card_sort != "s"'>
			AND CARD_SORT = #{card_sort}
		</if>
		<if test='card_attr != null and card_attr != "a"'>
			AND card_attr = #{card_attr}
		</if>
		<if test='card_name != null'>
			AND CARD_NAME LIKE '%' || #{card_name} || '%'
		</if>
		ORDER BY CARD_ID
		) a
		WHERE ROWNUM &lt;= #{endRow}
		)
		WHERE rnum &gt;=
		#{startRow}
	</select>

	<select id="selectOrFilterDCard" parameterType="map"
		resultType="digimonvo">
		SELECT * FROM (
		SELECT
		a.*, ROWNUM rnum
		FROM (
		SELECT * FROM DIGIMON
		WHERE
		1=1
		<if test='card_sort != null and card_sort != "s"'>
			AND CARD_SORT = #{card_sort}
		</if>
		<if test='card_attr != null and card_attr != "a"'>
			AND card_attr = #{card_attr}
		</if>
		<if test='card_name != null'>
			AND CARD_NAME LIKE '%' || #{card_name} || '%'
		</if>
		ORDER BY CARD_ID
		) a
		WHERE ROWNUM &lt;= #{endRow}
		)
		WHERE rnum &gt;=
		#{startRow}
	</select>

	<select id="selectOrFilterOCard" parameterType="map"
		resultType="onepiecevo">
		SELECT * FROM (
		SELECT
		a.*, ROWNUM rnum
		FROM (
		SELECT * FROM ONEPIECE
		WHERE 1=1
		<if test='card_sort != null and card_sort != "s"'>
			AND CARD_SORT = #{card_sort}
		</if>
		<if test='card_attr != null and card_attr != "a"'>
			AND card_attr = #{card_attr}
		</if>
		<if test='card_name != null'>
			AND CARD_NAME LIKE '%' || #{card_name} || '%'
		</if>
		ORDER BY CARD_ID
		) a
		WHERE ROWNUM &lt;= #{endRow}
		)
		WHERE rnum &gt;=
		#{startRow}
	</select>

	<!-- 덱저장 -->
	<insert id="insertDeck" parameterType="deckvo">
		INSERT INTO decks
		(deck_id,cat, deck_title, create_date, user_id, recommend,
		cmt)
		VALUES
		(deck_seq.NEXTVAL, #{cat}, #{deck_title}, sysdate, #{user_id},
		#{recommend}, #{cmt})
	</insert>

	<select id="deckId" resultType="int">
		select last_number - 1 from
		user_sequences where sequence_name = 'DECK_SEQ'
	</select>

	<insert id="insertDeckSource" parameterType="decksourcevo">
		INSERT INTO
		deckSources (decksource_id, deck_id, p_card, o_card, d_card,
		y_card,
		is_thumbnail)
		VALUES (decksource_seq.NEXTVAL, #{deck_id}, #{p_card},
		#{o_card},
		#{d_card},
		#{y_card}, #{is_thumbnail})
	</insert>
	<!-- **덱저장** -->
	<select id="getTotalDeckCount" resultType="int">
		SELECT COUNT(*) FROM decks WHERE cat = 1
	</select>

	<select id="getTotalDeckCountByQuery" parameterType="map"
		resultType="int">
		SELECT COUNT(*)
		FROM decks
		WHERE cat = 1
		AND deck_title LIKE '%' || #{query} || '%'
	</select>
	
	<select id="getThumbnailWithQuery" parameterType="map" resultType="map">
    SELECT *
    FROM (
        SELECT A.*, ROWNUM AS rn
        FROM (
            SELECT
                d.deck_id,
                d.deck_title,
                d.create_date,
                u.user_id,
                d.recommend,
                p.card_image
            FROM decks d
            JOIN users u ON d.user_id = u.user_id
            JOIN deckSources ds ON d.deck_id = ds.deck_id
            JOIN pokemon p ON ds.p_card = p.card_id
            WHERE ds.is_thumbnail = 1
            AND d.cat = #{cat}
            AND d.deck_title LIKE '%' || #{query} || '%'
            ORDER BY 
            <choose>
                <when test="sort == 'recommend'">
                    d.recommend DESC
                </when>
                <otherwise>
                    d.create_date DESC
                </otherwise>
            </choose>
        ) A
        WHERE ROWNUM &lt;= #{endRow}
    )
    WHERE rn &gt;= #{startRow}
    ORDER BY rn
</select>

	<select id="getThumbnail" parameterType="map" resultType="map">
		SELECT *
		FROM (
		SELECT A.*, ROWNUM AS rn
		FROM (
		SELECT
		d.deck_id,
		d.deck_title,
		d.create_date,
		u.user_id,
		d.recommend,
		p.card_image
		FROM decks d
		JOIN users u ON d.user_id = u.user_id
		JOIN deckSources ds ON d.deck_id = ds.deck_id
		JOIN pokemon p ON ds.p_card = p.card_id
		WHERE ds.is_thumbnail = 1
		AND d.cat = #{cat}
		<if test='query != null and query != ""'>
			AND d.deck_title LIKE '%' || #{query} || '%'
		</if>
		ORDER BY #{sort} DESC
		) A
		WHERE ROWNUM &lt;= #{endRow}
		)
		WHERE rn &gt;= #{startRow}
		ORDER BY #{sort} DESC
	</select>
</mapper>