<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace = "com.cardproject.myapp.dao">
	<!-- 내정보 -->
	<select id="selectUserById" parameterType = "string" resultType="uservo">
		SELECT * FROM USERS WHERE USER_ID = #{userid}
	</select>
 	
 	<update id="userUpdate" parameterType="uservo">
		UPDATE USERS
				SET PROFILE_IMAGE = #{profile_image},
					NICKNAME = #{nickname},
					EMAIL = #{email},
					ZIP_CODE = #{zip_code},
					ADDRESS = #{address},
					ADDRESS_DETAIL = #{address_detail},
					EMAIL_AGREEMENT = #{email_agreement},
					BANK = #{bank},
					ACCNT = #{accnt}
				WHERE USER_ID = #{user_id}
	</update>

	<update id="userProfileUpdate" parameterType="map">
	    UPDATE USERS
	    SET PROFILE_IMAGES = #{imgpath}
	    WHERE USER_ID = #{userid}
	</update>

	
	<!-- 입찰내역 -->
	<select id="selectAllBids" parameterType = "string" resultType="biddingresultvo">
		SELECT 
	        b.bid_id,
	        b.price,
	        b.bid_time,
	        b.item_id,
	        TO_CHAR(i.end_date, 'YYYY-MM-DD') AS END_DATE,
	        i.image1,
	        i.item_name,
	        b.is_win
	    FROM 
	        biddings b
	    INNER JOIN 
	        items i
	    ON 
	        b.item_id = i.item_id
		WHERE b.USER_ID = #{userid}
		AND b.IS_WIN = 0
		ORDER BY b.BID_ID DESC
	</select>
	
	<!-- 입찰내역 삭제 -->
	<delete id="deleteAllBids" parameterType="string">
		DELETE FROM BIDDINGS WHERE USER_ID = #{userid}
	</delete>
	
	<!-- 낙찰내역 -->
	<select id="selectAllTrades" parameterType = "string" resultType="tradevo">
		SELECT 
			t.TRADE_ID,
			t.USER_ID,
			t.ITEM_ID,
			t.PRICE,
			t.TRADE_TYPE,
			TO_CHAR(t.CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE,
			t.CONFIRM_DATE,
			t.IS_RECOMMEND,
			t.STAGE,
			i.IMAGE1,
			i.ITEM_NAME,
			t.IS_SUCCESS
		FROM 
			TRADES t
		INNER JOIN
			ITEMS i
		ON
			t.ITEM_ID = i.ITEM_ID
		WHERE t.USER_ID = #{userid}
	</select>
	
	<!-- 판매내역 -->
	<select id="selectAllSales" parameterType = "string" resultType="itemvo">
		SELECT ITEM_ID,    
				USER_ID,    
				ITEM_NAME,  
				CMT,        
				STATUS,     
				MIN_PRICE,  
				RARITY,     
				TO_CHAR(create_date, 'YYYY-MM-DD') AS CREATE_DATE,
    			TO_CHAR(end_date, 'YYYY-MM-DD') AS END_DATE,   
				TRADE_TYPE, 
				CAT,        
				IMAGE1,     
				IMAGE2,     
				IMAGE3,     
				IMAGE4,     
				IMAGE5,     
				D_CARD_ID,  
				P_CARD_ID,  
				Y_CARD_ID,  
				S_CARD_ID,  
				O_CARD_ID   
		FROM ITEMS 
		WHERE USER_ID = #{userid}
		ORDER BY ITEM_ID DESC
	</select>
	
	<!-- 포인트 -->
	<select id="selectPointByUser" parameterType = "string" resultType="pointvo">
		SELECT * FROM POINTS WHERE USER_ID = #{userid} ORDER BY 1 DESC
	</select>
	
	<!-- 포인트 합계 -->
	<select id="selectTotalPointByUser" parameterType = "string" resultType="int">
		SELECT SUM(AMOUNT * IS_ADD) AS TOTAL
	    FROM POINTS
	    WHERE USER_ID = #{userid} 
	</select>
	
	<select id="selectTotalPointByCat" parameterType = "map" resultType="int">
		SELECT SUM(AMOUNT) AS CATTOTAL
		FROM POINTS
		WHERE USER_ID = #{userid} AND CAT = #{cat}
	</select>
	
	<!-- 관심목록 -->
	<select id="selectAllLikes" parameterType = "string" resultType="itemvo">
		SELECT ITEM_ID,    
				USER_ID,    
				ITEM_NAME,  
				CMT,        
				STATUS,     
				MIN_PRICE,  
				RARITY,     
				TO_CHAR(create_date, 'YYYY-MM-DD') AS CREATE_DATE,
    			TO_CHAR(end_date, 'YYYY-MM-DD') AS END_DATE,   
				TRADE_TYPE, 
				CAT,        
				IMAGE1,     
				IMAGE2,     
				IMAGE3,     
				IMAGE4,     
				IMAGE5,     
				D_CARD_ID,  
				P_CARD_ID,  
				Y_CARD_ID,  
				S_CARD_ID,  
				O_CARD_ID   
		FROM ITEMS WHERE ITEM_ID IN
								(SELECT ITEM_ID FROM LIKES WHERE USER_ID = #{userid})
	</select>
	
	<delete id="deleteAllLikes" parameterType="string">
		DELETE FROM LIKES WHERE USER_ID = #{userid}
	</delete>
	
	<!-- 배송조회 -->
	<select id="selectAllDeliveries" parameterType = "string" resultType="deliveryvo">
		SELECT 
	        d.DELIVERY_ID,
	        d.TRADE_ID,
	        t.ITEM_ID,
	        TO_CHAR(t.CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE,
	        t.USER_ID,
	        i.IMAGE1,
	        i.ITEM_NAME
	    FROM 
	        DELIVERIES d
	    INNER JOIN 
	        TRADES t
	    ON 
	        d.TRADE_ID = t.TRADE_ID
	    INNER JOIN
	    	ITEMS i
	    ON
	    	t.ITEM_ID = i.ITEM_ID
		WHERE t.USER_ID = #{userid}
	</select>
	
	<!-- 알림조회 -->
	<select id="selectAllNotifications" parameterType = "string" resultType="notificationvo">
		SELECT 
			n.NOTIFICATION_ID,
			n.CMT,
			n.USER_ID,
			TO_CHAR(n.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE,
			n.IS_READ,
			n.ITEM_ID,
			i.ITEM_NAME,
			i.IMAGE1
		FROM NOTIFICATIONS n
		INNER JOIN
			ITEMS i
		ON
			n.ITEM_ID = i.ITEM_ID
		WHERE n.USER_ID = #{userid}
		ORDER BY NOTIFICATION_ID DESC
	</select>
	
	<!-- 알림 상위 5개 조회 -->
	<select id="selectFiveNotifications" parameterType = "string" resultType="notificationvo">
		<![CDATA[
		SELECT *
		FROM (
			SELECT 
				n.NOTIFICATION_ID,
				n.CMT,
				n.USER_ID,
				TO_CHAR(n.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE,
				n.IS_READ,
				n.ITEM_ID,
				i.ITEM_NAME,
				i.IMAGE1
			FROM NOTIFICATIONS n
			INNER JOIN
				ITEMS i
			ON
				n.ITEM_ID = i.ITEM_ID
			WHERE 
				n.USER_ID = #{userid}
			AND
				n.IS_READ = 0
			ORDER BY NOTIFICATION_ID DESC
			)
		WHERE ROWNUM <= 5
		]]>
	</select>
	
	<!-- 알림 읽음표시 업데이트 -->
	<update id="isReadUpdate" parameterType="int">
		UPDATE NOTIFICATIONS
		SET IS_READ = 1
		WHERE NOTIFICATION_ID = #{notificationid}
	</update>
	
	<!-- 알림 삭제 -->
	<delete id="deleteNotification" parameterType="int">
		DELETE FROM NOTIFICATIONS WHERE NOTIFICATION_ID = #{notificationid}
	</delete>
	
	<!-- 모든 알림 읽음 표시로 변경 -->
	<update id="isReadUpdateAll" parameterType="string">
		UPDATE NOTIFICATIONS
		SET IS_READ = 1
		WHERE USER_ID = #{userid}
	</update>
	
	<!-- 읽은 알림 전체 삭제 -->
	<delete id="deleteAllNotificationRead" parameterType="string">
		DELETE FROM NOTIFICATIONS 
		WHERE USER_ID = #{userid} AND IS_READ = 1
	</delete>
	
	<!-- 회원 탈퇴 -->
	<update id="updateUserDisabled" parameterType="map">
		UPDATE USERS 
		SET 
			IS_ABLE = 0,
			CREATE_DATE = SYSDATE
		WHERE USER_ID = #{userid} AND PW = #{password}
	</update>
</mapper>